* {
    box-sizing: border-box;
  }

 /* body styles */ 
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: bisque;
  }

/* header styles */
  h1 {
    color: white;
  }

  h2 {
    margin: 10px;
    padding-left: 10px;
  }

  h3,
  h4,
  h5,

  h6 {
    margin: 0;
  }
  
/* nav bar styles */

#navigation-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #333;
}

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    align-items: right;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: cadetblue;
  }
  
/* hero banner styles */
#herobanner {
  display: flex;
  flex-direction: column;
}

.hero-banner img {
  display: flex;
  max-width: 100%;
  max-height: 500px;
}

.hero-banner h2 {
  display: flex;
  color: gray;
}

  /* about me section styles */
  #about {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
  }
  
  /* pargraph styles */
  p {
    margin: 0;
  }

  /* portfolio styles */
 #portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
    "grid-item1 grid-item1 grid-item1 grid-item1"
    "grid-item2 grid-item2 grid-item3 grid-item3"
    "grid-item4 grid-item4 grid-item5 grid-item5"
    ;
  }

  .grid-item1 {
    grid-area: grid-item1;
    width: 100%;
    margin: 50;
    padding-left: 250px;
  }

  .grid-item2 {
    grid-area: grid-item2;
    width: 100%;
    margin: 50;
    padding-left: 250px;
  }

  .grid-item3 {
    grid-area: grid-item3;
    width: 100%;
    margin: 50;
    padding-left: 250px;
  }

  .grid-item4 {
    grid-area: grid-item4;
    width: 100%;
    margin: 50;
    padding-left: 250px;
  }

  .grid-item5 {
    grid-area: grid-item5;
    width: 100%;
    margin: 50;
    padding-left: 250px;
  }

  /* work section styles */
  #work {
    margin: 10px;
    padding-left: 10px;
  }

  /* contact section styles */
 #contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }
 
.contact-section h2 {
  color: black;
  }

  .contact-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .contact-section li {
    float: left
  }

  .contact-section li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* styles */

  /*
  #portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  */

