* {
    box-sizing: border-box;
  }
 
/* hero banner styles */


 /* body styles */ 
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }

/* header styles */
  .header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  /* nav bar styles */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #282836;
  }
  
  /* overall grid style 
  #page-wrapper {
    display: flex;
    grid-template-columns: 20% 80% ;
    grid-template-rows: 20% 30% 30% ;
    grid-template-areas:
    "about-me-section about-me-section"
    "work-section work-section"
    "contact-section contact-section" 
    ;
  }

  .about-me-section {
    grid-area: about-me-section;
  }

  .work-section {
    grid-area: work-section;
  }

  .contact-section {
    grid-area: contact-section;
  }
  */
  
  /* contact section styles */
  .contact-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  .contact-section li {
    float: left
  }

  .contact-section li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* pargraph styles */
  p {
    margin: 0;
  }

  /* portfolio styles */
  #portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
    "grid-item1 grid-item1 grid-item1 grid-item1"
    "grid-item2 grid-item2 grid-item3 grid-item3"
    "grid-item4 grid-item4 grid-item5 grid-item5"
    ;
  }

  .grid-item1 {
    grid-area: grid-item1;
  }

  .grid-item2 {
    grid-area: grid-item2;
  }

  .grid-item3 {
    grid-area: grid-item3;
  }

  .grid-item4 {
    grid-area: grid-item4;
  }

  .grid-item5 {
    grid-area: grid-item5;
  }

